version: 2.1

orbs:
  python: circleci/python@0.2.1

jobs:
  build-and-test:
    executor: python/default
    steps:
      - checkout
      - python/load-cache
      - python/install-deps
      - pip3 install coverage
      - python/save-cache
      - run:
          command: |
            python3 -m pytest tests/test_comments.py
          name: Test

workflows:
  main:
    jobs:
      - build-and-test
